div p {
    font-size: 20px;
}

div button {
    width: 150px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    background-color: #0d6efd;
}

div button a {
    text-decoration: none;
}

div button:hover {
    background-color: #1762d2;
}

div img {
    width: 100px;
}